ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-3-5-sonnet-latest
OPENAI_API_KEY=
# ElevenLabs API Key
ELEVEN_LABS_API_KEY=

# ElevenLabs Voice ID
# Josh - English voice (default): TxGEqnHWrfWFTfGW9XjX
ELEVEN_LABS_VOICE_ID=Zk0wRqIFBWGMu2lIk7hw

# Other available voices:
# Adam (Brazilian Portuguese): pNInz6obpgDQGcFmaJgB
# Rachel (Multilingual): 21m00Tcm4TlvDq8ikWAM
# Antoni (Multilingual): ErXwobaYiN019PkySvjV
# Elli (English): MF3mGyEYCl7XYWbV9V6O 
# SamuelPro (pt_br):Jvj2FoZHFrWICKQxQXqy
# Marcio pt_br : Zk0wRqIFBWGMu2lIk7hw